/* Media Query */
@media screen and (max-width: 800px) {
  .responsive-nav {
    display: block;
    margin-right: 10px;
    font-size: 30px;
  }
  .offcanvas-body ul li {
    text-align: left;
  }
  .offcanvas-body ul li a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
  }
  .nav-logo {
    width: 60%;
  }
  .nav-items {
    display: none;
  }
  .nav-search {
    display: none;
  }

  /* Hero Section*/

  .hero-section {
    height: 90%;
  }
  .hero-sec1 {
    flex-direction: column;
    width: 100%;
  }
  .heroSec1-text {
    width: 100%;
    padding: 30px 20px;
  }

  .heroSec1-text h2 {
    font-size: 30px;
  }
  .heroSec1-img {
    width: 100%;
  }
  .hero-sec1 .heroSec1-text h1 {
    font-size: 50px;
    font-weight: 700;
  }
  .hero-sec1 img {
    width: 100%;
  }
  .hero-sec2 {
    width: 100%;
    gap: 10px;
    padding: 10px 5px;
  }

  .heroSec2-text h1 {
    font-size: 25px;
    font-weight: 700;
  }
  .heroSec2-img {
    gap: 5px;
  }
  /* news */
  .news-header {
    align-items: center;
    padding: 20px 15px 10px 15px;
    height: 40%;
    text-align: center;
  }
  .newsRow-title {
    width: 100%;
  }
  .newsRow-list {
    width: 100%;
    font-size: 0px;
    margin-left: 0px;
  }
  .news-header h1 {
    font-weight: 700;
  }
  .newsRow-list ul {
    margin-left: -0px;
    font-weight: 700;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: baseline;
    row-gap: 10px;
    padding: 10px 0px;
  }
  .newsRow-list ul li {
    border: 2px solid black;
    border-radius: 50px;
    width: 100%;
    font-size: 15px;
    background-color: #b7e0e6;
    padding: 4px;
    font-size: 20px;
  }
  .newsRow-list ul li:nth-child(1) {
    border-bottom: 2px solid black;
  }

  /* Cards */

  .newsCard {
    height: 100%;
    flex-direction: column;
    padding: 20px 10px;
  }
  .card-sec1 {
    width: 100%;
    border-radius: 20px;
  }
  .card-sec2 {
    width: 100%;
  }
  /* footer */
  .footer {
    flex-direction: column;
    padding: 10px;
    height: 80%;
  }
  .footer_logo {
    width: 100%;
  }
  .footer_logo {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  .flogo_text1 {
    height: 20%;
    width: 100%;
  }
  .flogo_text1 h1 {
    color: #058393;
    font-weight: 700;
  }
  .flogo_text2 {
    width: 100%;
    height: 20%;
  }
  .flogo_text2 h1 {
    font-weight: 700;
  }
  .footer_img {
    height: 60%;
    width: 50%;
  }

  .footer_list {
    width: 100%;
    padding: 5px 0px;
  }
  .footerList2 h2 {
    font-size: 20px;
    font-weight: 600;
  }
  .footerList2 p {
    font-size: 20px;
    font-weight: 500;
  }
}
